@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;


}

header {
    padding: 16px 156px 16px 156px;
    background-color: #02A28F;
    color: white;
}


.container {
    width: 100%; /* Largura total da página */
    max-width: 1200px; /* Define um limite máximo */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 15px; /* Adiciona espaço interno nas laterais */
    padding-bottom: 65px;
    box-sizing: border-box; /* Inclui o padding no cálculo do tamanho total */
    display: grid;
    grid-auto-flow: column;
    border: 2px solid black;
}

.img-cidade {
    width: 744px;
    height: 396px;
    transform: translateY(10%);
    padding: 24px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 12 12 12 12;
}

.img-cidade {

    background: linear-gradient(to top, rgba(0, 0, 0, 3.7), rgba(0, 0, 0, 0)),
    url(img/cidade.jpg);


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.titulo-parag {
    text-align: left;
    position: absolute;
    left: 23px;
    bottom: 10px;
    color: white;
}

.col-2 {
    padding-right: 25px;
    transform: translateY(10%);

}


.titulo-blu {
    color: white;
    background-color: #02A28F;
    padding-left: 25px ;    
    padding-right: 25px ;    
    padding-top: 16px ;    
    padding-bottom: 16px ;    
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 18px 14px 0px rgba(2, 2, 2, 0.082);
}

.img-dv img{
    width: 132px;
    height: 70px;
    top: 201px;
    left: 937px;
    border-radius: 10px;

}

.caixa-infor{
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 360px;
    height: 96px;
    top: 188px;
    left: 925px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #ffff;
    box-shadow: 0px 10px 10px 0px #0000001A;
}


.sub-titlie {
    width: 172px;
    height: 15px;
    top: 201px;
    left: 1021px;
    font-size: 16px;
    gap: 0px;
    opacity: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;

}

.posi-imag {
    position: relative;
    top: 12px;
    left: 7px;
}

.posi-tex {
    position: relative;
    top: 24px;
    right: 12px;
}

.posi-sub-data {
    position: relative;
    top: 5px;
}


.data-titlie {
    width: 92px;
    height: 15px;
    top: 224px;
    left: 1031px;
    gap: 0px;
    opacity: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 14.63px;
    color: #616161;

}

/*-----------------------------------------------------------------------------------------------------------*/

.second-secti {
    width: 696px;
    height: 36px;
    padding: 16px 24px 16px 24px;
    gap: 0px;
    border-radius: 10px;
    justify: space-between;
    opacity: 0px;
    background: #02A28F;
    color: #ffff;

}

.link-parag {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transform: translateY(30%);
    position: relative;
    left: 180px;
}

.colu-1-secont {
    display: grid;
    grid-auto-flow: column;
    
}


.sect-cards {
    padding-top: 60px;
    position: relative;
    bottom: 20px;
    right: 16px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
}


.card {
    width: 360px;
    height: 396px;
    top: -2793px;
    left: -1548px;
    gap: 0px;
    padding-bottom: 15px;
    opacity: 0px;
}

.card1-imag {
    width: 360px;
    height: 191px;
    gap: 0px;
    border-radius: 16px 16px 0px 0px;
    opacity: 0px;
    background-image: url(img/card1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card2-imag {
    width: 360px;
    height: 191px;
    gap: 0px;
    border-radius: 16px 16px 0px 0px;
    opacity: 0px;
    background-image: url(img/card2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3-imag {
    width: 360px;
    height: 191px;
    gap: 0px;
    border-radius: 16px 16px 0px 0px;
    opacity: 0px;  
    background-image: url(img/card3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card4-imag {
    width: 360px;
    height: 191px;
    gap: 0px;
    border-radius: 16px 16px 0px 0px;
    opacity: 0px;  
    background-image: url(img/card4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.card-text {
    width: 360px;
    height: 205px;
    top: 191px;
    padding: 16px 0px 0px 0px;
    gap: 0px;
    border-radius: 0px 0px 16px 16px;
    opacity: 0px;
    color: #000000;
}

.text1-card{
    margin-bottom: 15px;
    width: 56px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.text2-card {
    margin-bottom: 5px;
    width: 328px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.text3-card {
    margin-bottom: 5px;
    width: 140px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

.text4-card {
   margin-bottom: 5px;
    width: 328px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: #000000;

}

.text5-card {
    width: 116px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #616161;

}









/*
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
*/





/*
width: Fixed (744px)px;
height: Fixed (396px)px;
top: 120px;
left: 156px;
padding: 24px 0px 0px 0px;
gap: 10px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;
*/